/*

* Override Pages default styles or create your own styles here

*/
.content-wrapper{
	padding:0;
}
.header-box{
	background:#fff;
	padding:1em 2em;
	margin-bottom:2em;
}
.header-box h1, .header-box h2, .header-box h3, .header-box h4, .header-box h4{
	margin-top:.5em;
	margin-bottom:0!important;
}
.content-box{
	padding:1em 2em;
}

.display-5{
	font-weight:300;
	line-height:1.5;
}

@media (max-width:767px){
	.header-box{
		padding:.5em 1em;
	}
	.content-box{
		padding:1em;
	}
}


.card .card-body{
	padding:1rem 1.375rem;
}

textarea{
	min-height:100px!important;
}
.padd{
	padding:1em 0;
}
.box{
	padding:.5em;
}
.box label{
	margin-bottom:0;
}

.table-search-btn{
	position:absolute;
	right:0;
}

#superadminonly{
	width:400px;
}
@media (max-width:767px){
	.table-search-btn{
		position:relative;
		margin-bottom:1em;
	}

	#superadminonly{
		width:90%;
	}
}

.mce-fullscreen{
	z-index:9999!important;
}
.auth .brand-logo img{
	max-height:50px;
	max-width:50px;
}
.auth form .form-group{
	margin-bottom:.5rem;
}

select.form-control, .dataTables_wrapper select{
	color:#222;
}

input.form-control{
	padding:.45rem 1.375rem;
	height:auto;
}

input[type=color].form-control{
	padding:0;
	height:30px;
}

.select2-selection{
	display:block;
}
.select2-selection .select2-selection--multiple, .select2-container--default .select2-selection--multiple{
	border:none!important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
	right:1.5em;
	top:.1em;
}



/*Uploaded Holder*/
.uploaded-holder .uploaded{
	position:relative;
	display:inline-block;
}

.uploaded-holder strong{
	display:block;
}


.file-alias{
	max-width:200px;
	display:inline-block;
	overflow:hidden;
	background:#eee;
	padding:.5em 2em .5em 1em;
	border-radius:30px;
}

.remove-asset, 
.remove-asset-multiple,
.remove-asset-file,
.remove-asset-file-multiple
{
	position:absolute;
	top:0;
	right:0;
	font-size:1.25em;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	background:#d00;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
	border-radius:0 0 0 15px;
}


.pos-rel{
	position:relative;
}
.pos-abs{
	position:absolute;
}

.close-btn{
	position:absolute;
	top:.25em;
	right:.25em;
	padding:0;
	width:20px;
	height:20px;
	line-height: 17px;
	text-align: center;
	border-radius:50%;
}






.priviledge-check label{
	padding:.2em 1em;
	background:#ddd;
	color:#000;
	border-radius:20px;
	cursor:pointer;
	transition:.3s ease;
	-moz-transition:.3s ease;
	-o-transition:.3s ease;
	-webkit-transition:.3s ease;
	-ms-transition:.3s ease;
}

.priviledge-check label input{
	margin-right:.5em;
}

.priviledge-check.active label{
	background:#25ba68;
	color:#fff;
}



/*datatable tambahan*/
table.dataTable thead tr th{
	position:relative;
}
table.dataTable thead .sorting::before, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_desc::before{
	display:block;
	position:absolute;
	top:14px;
	right:0;
}


table.table th{
	text-transform:uppercase;
	font-size:.9rem;
	padding-left:.5em;
}
table.table td{
	padding:.75em;
}

/*table datatable sorting class*/
table.table th.sorting, table.table th.sorting_asc, table.table th.sorting_desc{
	padding-left:1.5em;
}

table.table th:first-child{
	padding-left:.5em!important;
}
table.table th:first-child:before{
	display:none!important;
}
table.table th.sorting::before, table.table th.sorting_asc::before, table.table th.sorting_desc::before{
	position:absolute;
	left:.5em;
	top:38%;

	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

table.table th.sorting::before{
	content:"\f0dc";
}
table.table th.sorting_asc::before{
	content : "\f0de";
}
table.table th.sorting_desc::before{
	content : "\f0dd";
}


.dataTables_wrapper{
	position:relative;
}

div.dataTables_wrapper div.dataTables_processing{
	position:absolute;
	width:100%!important;
	height:100%;
	left:0;
	top:0;
	margin-top:0;
	margin-left:0;
	background:rgba(255,255,255,.85);
	color:#bbb;
	font-size:20px;
	font-weight:300;
	text-align:center;
	z-index:3;
	display:flex;
	display:-moz-flex;
	display:-webkit-flex;
	align-items:center;
	justify-content: center;
}

.dataTables_paginate{
	text-align:right;
}

.dataTables_paginate .paginate_button{
	padding:.5em;
	cursor:pointer;
}

.dataTables_paginate .paginate_button.disabled{
	cursor:not-allowed;
	color:#ddd;
}

.dataTables_paginate .paginate_button.current{
	cursor:auto;
	color:#000;
}


/*nestable*/
.ctrl-holder{
	float:right;
}

.ctrl-holder .btn{
	padding:0 .5em;
	line-height:16px;
	height:16px;
}

.bootstrap-tagsinput .tag{
	background:#999;
}

.label{
	font-size:100%;
	padding:.25em 1em;
	background:#d7d7d7;
	border:1px solid #fff;
	color:#000;
	border-radius:10px;
	display:inline-block;
}

.label.label-primary{
	background:#00AAFF;
	color:#fff;
}
.label.label-danger{
	background:#d00;
	color:#fff;
}
.label.label-success{
	background:#00A67D;
	color:#fff;
}


body.klorofil .userinfo-holder{
	padding:1.5em;
}

.panel-body.ov{
	overflow-x:hidden;
	overflow-y:hidden;
}

@media (max-width:991px){
	body.pages .userinfo-holder{
		position: absolute;
		top:-70px;
		right:0;
	}	
	.userinfo-holder .semi-bold{
		display:none;
	}

}

@media (max-width:767px){
	.userinfo-holder{
		top:-65px;
	}

	.panel-body.ov{
		overflow-x:scroll;
	}
}


table th{
	white-space:nowrap;
	padding-right:1.75em!important;
	cursor:pointer;
}

table tbody tr td{
	white-space:inherit!important;
	line-height:1.5em!important;
}

.ov{
	overflow-x:scroll!important;
}

.batchbox{display:none;}

.custom-form-group{
	margin-top:.5em;
	margin-bottom:.75em;
	padding:0;
}
.custom-form-group label{
	margin:0;
	padding:0 1em;
	font-size:11px;
	font-weight:700;
	line-height:1.4em!important;
}

.custom-form-group input, .custom-form-group select, .custom-form-group textarea{
	border:1px solid #ddd;
	padding-left:1em;
	padding-right:1em;
}

.bootstrap-tagsinput{
	border:1px solid #ddd;
}
.bootstrap-tagsinput input{
	border:none!important;
}

label.required::after{
	content : '*';
	display:inline-block;
	position:relative;
	color:#d00;
	padding:0 .5em;
}

.custom-form-group.radio-box{
	transition:.3s ease;
	-moz-transition:.3s ease;
	-o-transition:.3s ease;
	-webkit-transition:.3s ease;
	-ms-transition:.3s ease;
}

.custom-form-group.radio-box.success{
	background:#00A67D;
	color:#fff;
}

.custom-form-group.radio-box.danger{
	background:#d00;
	color:#fff;
}

.custom-form-group.radio-box.success label, .custom-form-group.radio-box.danger label{
	color:#fff;
}


.form-group.compact{
	margin-bottom:0;
}

.form-group.compact input, .form-group.compact select{
	height:20px;
	padding:0 1em;
	font-size:.85rem;
}

.form-group.compact label{
	font-size:.7rem;
	margin-bottom:0;
}


#checker_all_datatable{
	position:relative;
	z-index:2;
}

.datepicker{
	padding:.5rem .75rem;
	min-width:400px;
}

@media (max-width:543px){
	.datepicker{
		min-width:150px;
	}

	.bootstrap-datetimepicker-widget .datepicker-decades .decade{
		overflow:hidden;
	}

	.bootstrap-datetimepicker-widget table th{
		padding:0!important;
		font-size:10px;
	}
}


/*new theme additional css*/
.sidebar .fa{
	margin-right:.75em;
}

.sidebar .nav.sub-menu .nav-item::before{
	display:none;
}

.sidebar .nav.sub-menu{
	padding:.25em 0 .25rem 1rem;
}

.sidebar .nav.sub-menu ul{
	list-style:none;
	font-size:.85rem;
	opacity:.85;
}

.sidebar .nav.sub-menu ul a.menu-item{
	padding-left:1em;
}

.sidebar .nav-link{
	transition:.3s ease;
	-moz-transition:.3s ease;
	-webkit-transition:.3s ease;
	-ms-transition:.3s ease;
	background:transparent;
}

.sidebar .first-submenu a{
	display:block;
}

.sidebar .first-submenu:hover a.nav-link{
	background: rgb(0,0,0);
	background: -webkit-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.05) 50%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.05) 50%, rgba(0,0,0,0) 100%);
	background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.05) 50%, rgba(0,0,0,0) 100%);
}

.login-half-background img{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit:cover;
	z-index:0;
}

.login-half-background .copyright{
	z-index:2;
}

.table td img{
	border-radius:0!important;
	width:auto!important;
}


.dropzone.custom-dropzone{
	min-height:0;
	border:none;
	padding:5px;
}

.dropzone.custom-dropzone .dz-message{
	text-transform:uppercase;
	font-size:1rem;
	border:1px solid #ccc;
	padding:.5em;
	border-radius:5px;
	margin:0;
	opacity:1;
	transition:.3s ease;
	-moz-transition:.3s ease;
	-webkit-transition:.3s ease;
	-ms-transition:.3s ease;
}

.dropzone.custom-dropzone .dz-message:hover{
	background:#004B76;
	color:#fff;
}

.dropzone.custom-dropzone .dz-message span{
	font-size:.8em;
}

.dropzone.custom-dropzone:hover .dz-message{
	opacity:.85;
}

.uploaded img{
	border-radius:5px;
	overflow:hidden;
	max-width:100%;
}

.site-sidebar{
	position:fixed;
	height:100%;
}

@media (min-width:992px){
	.main-panel{
		margin-left:257px;
	}
	.sidebar .nav{
		padding-bottom:100px;
	}
	.sidebar-icon-only .main-panel{
		margin-left:70px;
	}
}

.language-switcher a{
	opacity:.5;
}

.language-switcher a.active{
	opacity:1;
}



table.table td{
	position:relative;
}


#page-loader{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(255,255,255,.75);
	z-index:5000;
}

#page-loader i{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-30px;
	margin-left:-30px;
}

.sidebar{
	z-index:1000;
	overflow-x:hidden;
}


/*font management*/
table td{
	font-size:16px;
}

.custom-form-group label{
	text-transform:uppercase;
}

.custom-form-group.focused{
	border:1px solid #777;
}

ul.nav{
	font-weight:500;
	font-size:larger;
}


.navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-brand img{
	height:50px;
}




.table-content-inner{
	min-width:200px;
}



.form-group .closer{
	position:absolute;
	top:0;
	right:5px;
	padding:.4em;
	cursor:pointer;
	opacity:.5;
}

.closer:hover{
	opacity:1;
}

.col:last-child .closer{
	right:5px;
}

.btn-sm{
	padding:0.5rem 0.81rem!important;
}



/*custom styling*/
.navbar .navbar-brand-wrapper{
	border-right:none!important;
}

.form-group .select2-container{
	border: 1px solid #ddd;
	width:100%!important;
}

.custom-form-group .select2-container--default .select2-selection--single, .custom-form-group .select2-container--default .select2-selection--multiple{
	background:#fff;
	padding:.5rem .75rem;
	min-height:30px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	overflow:visible;
}

.custom-form-group .feedback{
	display:block;
	font-size:.8em;
	padding:.25em;
}

label.checkbox{
	padding-right:.5em;
}

.card .card-header{
	background:#01AEF0;
	background: rgb(1,174,240);
	background: -webkit-linear-gradient(left, rgba(1,174,240,1) 0%, rgba(53,89,137,1) 100%);
	background: -o-linear-gradient(left, rgba(1,174,240,1) 0%, rgba(53,89,137,1) 100%);
	background: linear-gradient(to right, rgba(1,174,240,1) 0%, rgba(53,89,137,1) 100%);
	color:#fff;
	font-weight:bold;
}


.success-handle{
	position:absolute;
	top:0px;
	right:1em;
	z-index:0;
	padding:1em;
	background:#71c016;
	color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;

	transition:.5s cubic-bezier(.29,.99,.69,.84);
	-moz-transition:.5s cubic-bezier(.29,.99,.69,.84);
	-o-transition:.5s cubic-bezier(.29,.99,.69,.84);
	-webkit-transition:.5s cubic-bezier(.29,.99,.69,.84);
	-ms-transition:.5s cubic-bezier(.29,.99,.69,.84);

	opacity:0;
}

.success-handle.active{
	opacity:1;
	top:100px;
	z-index:9999;
}

.modal { overflow: auto !important; }
div.dataTables_wrapper div.dataTables_paginate{
	text-align:left;
	padding:.5em 0;
}

.modal-custom-close{
	position:fixed; 
	top:0;
	right:1.5em; 
	padding:.5em 1em; 
	z-index: 2; 
	color:#000; 
	opacity:1;
	font-size:32px;
	background:#fff;
	border:none;
	border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	border:1px solid #ccc;
	border-top:none;

	transition:.25s cubic-bezier(.29,.99,.69,.84);
	-moz-transition:.25s cubic-bezier(.29,.99,.69,.84);
	-o-transition:.25s cubic-bezier(.29,.99,.69,.84);
	-webkit-transition:.25s cubic-bezier(.29,.99,.69,.84);
	-ms-transition:.25s cubic-bezier(.29,.99,.69,.84);
}

.modal-custom-close:hover{
	background:#d00;	
	color:#fff;
}

@media (max-width:543px){
	.modal-custom-close{
		right:.5em;
		font-size:20px;
	}
}




/*custom nav pills*/
.nav-pills.custom .nav-link{
	border-radius:0;
	-moz-border-radius:0;
	padding-left:3em;
	margin-right:.5em;
	height:50px;
	position:relative;
	background:#ccc;
	color:#fff;
	transition:.3s ease;
	-moz-transition:.3s ease;
	-webkit-transition:.3s ease;
	-ms-transition:.3s ease;
	-o-transition:.3s ease;
}

.nav-pills.custom .nav-link::before{
	content:'';
	display:block;
	position:absolute;
	top:0;
	left:0;
	border:25px solid transparent;
	border-left-color:#fff;
	transition:.3s ease;
	-moz-transition:.3s ease;
	-webkit-transition:.3s ease;
	-ms-transition:.3s ease;
	-o-transition:.3s ease;
}
.nav-pills.custom .nav-link::after{
	content:'';
	display:block;
	position:absolute;
	top:0;
	left:100%;
	z-index: 2;

	border:25px solid transparent;
	border-left-color:#ccc;
	transition:.3s ease;
	-moz-transition:.3s ease;
	-webkit-transition:.3s ease;
	-ms-transition:.3s ease;
	-o-transition:.3s ease;
}

.nav-pills.custom .nav-link.active{
	background:#007bff;
	color:#fff;
}
.nav-pills.custom .nav-link.active::after{
	border-left-color:#007bff;
}

.nav-pills.custom .nav-link:hover{
	background:#333;
}

.nav-pills.custom .nav-link:hover::after{
	border-left-color:#333;
}

@media (max-width:767px){
	.nav-pills.custom .nav-link{
		font-size:.8rem;
		height:40px;
		margin-bottom:.25em;
	}
	.nav-pills.custom .nav-link::before{
		border:20px solid transparent;
		border-left-color:#fff;
	}
	.nav-pills.custom .nav-link::after{
		border:20px solid transparent;
		border-left-color:#ccc;
	}

}


.form-compact label.control-label{
	font-weight:bold;
}

.form-compact input, .form-compact select{
	height:30px;
	padding:0 .5em;
}

.form-compact input, .form-compact select, .form-compact textarea, .form-compact .tagsinput-holder{
	border:1px solid #ccc;
}

.form-compact .form-group{
	margin-bottom:.75em;
}

label.mandatory::after{
	content : '*';
	color:#d00;
	padding:0 .5em;
}


[readonly]{
	pointer-events: none;
}

.select2-selection__rendered{
	padding-top:.5em;
}

.custom-form-group .select2-selection__rendered{
	padding-top:0;
}

.select2-container--default .select2-selection--single{
	border:none;
}

.bootstrap-tagsinput{
	height:3em;
	padding:.5em;
}


.action-buttons{
	padding-top:.75em;
}
.action-buttons .btn{
	padding:.25em .75em!important;
}



/*media manager css*/
.media-container{
	position:relative;
	background:#fff;
}

.media-container .item{
	display:inline-block;
	vertical-align:top;
	width:100px;
	padding:.5em;
	text-decoration:none;
	transition:.25s ease;
	-moz-transition:.25s ease;
	-o-transition:.25s ease;
	-webkit-transition:.25s ease;
	-ms-transition:.25s ease;
	border-radius:4px;
}

.media-container .item:hover{
	background:rgba(0,0,0,0.2);
}

.media-container .item .file-title{
	font-size:smaller;
	color:#333;
	overflow:hidden;
}

.media-header{
	padding:.5em 1em;
	background:#333;
	color:#fff;
}

.directory-breadcrumb{
	display:inline-block;
	padding:.5em 1em;
	background:#000;
	color:#fff;
	margin-right:.5em;
	transition:.25s ease;
	-moz-transition:.25s ease;
	-webkit-transition:.25s ease;
	-o-transition:.25s ease;
	-ms-transition:.25s ease;
}

.directory-breadcrumb:hover{
	background:#fff;
	color:#000;
}

.file-checker-label{
	position:absolute; 
	top:0; 
	right:0; 
	padding:.5em; 
	cursor:pointer; 
	background:rgba(255,255,255,.5);
	transition:.25s ease;
	-moz-transition:.25s ease;
	-o-transition:.25s ease;
	-webkit-transition:.25s ease;
	-ms-transition:.25s ease;
}

.file-checker-label:hover{
	background:rgba(200, 0, 0, .75);
}

.media-detail{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(255,255,255,.9);
	padding:2em;
}

.media-detail .image-closer, .image-input-holder .image-closer, .custom-closer{
	position:absolute;
	top:0;
	right:0;
	padding:.2em .5em;
	font-size:20px;
	background:#d00;
	color:#fff;
	cursor:pointer;
	border-radius:0 0 0 5px;
	-moz-border-radius:0 0 0 5px;
	z-index: 2;
}
.media-detail .image-closer:hover, .image-input-holder .image-closer:hover, .custom-closer:hover{
	background:#b00;
}


.media-holder .item img{
	object-fit:cover;
}

.media-holder .item a{
	text-decoration:none;
}


.input-multiple-container{
	display:flex;
	display:-moz-flex;
	justify-content:flex-start;
	flex-flow:wrap;
}

.image-input-holder{
	display:inline-block;
	margin:.5em;
}

.image-input-holder img{
	width:100px;
	height:100px;
	max-width:100%;
	object-fit:contain;
}

.media-filter{
	padding:.5em 1.25em;
	background:#f5f5f5;
	margin-bottom:.5em;
	border-radius:5px;
	position:relative;
}

.media-filter .btn-reset-filter{
	position:absolute;
	top:0;
	right:0;
	font-size:.7rem;
	padding:.2em .5em;
	cursor:pointer;
}






.nav-list li a {
	text-decoration: none;
	display: block;
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid #ccc !important;
	color: #555;
}

.nav-list a:hover{
	color: #4d83ff;
}

.nav-list > li > a {
	color: #C4C4C4;
	font-size: 14px;
	padding-left: 13px !important;
	border-bottom: 1px solid #eee;
}


/*sidebar override*/
nav.sidebar{
	background:#3c4b64;
}

.sidebar .nav:not(.sub-menu){
	margin-top:0;
}

.sidebar .nav .nav-item .nav-link, .sidebar .nav .nav-item .nav-link i.menu-arrow{
	color:rgba(255,255,255,.8);
}

.sidebar .nav:not(.sub-menu) > .nav-item{
	border-bottom:none;
}

.sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link{
	background:rgba(0,0,0,0.1);
	color:rgba(255,255,255,.9);
}

.sidebar .nav .nav-item .nav-link{
	padding: 1.25rem 2.5rem 1.25rem 1.25rem;
}

.sidebar .nav.sub-menu .nav-item .nav-link{
	padding: 0.8rem 3rem 0.8rem 1rem;
	color:rgba(255,255,255,.7);
	font-weight:300;
}
.sidebar .nav.sub-menu .nav-item .nav-link:hover{
	color:rgba(255,255,255,.85);
}
.sidebar .nav:not(.sub-menu) > .nav-item.active > .nav-link{
	background:rgba(255,255,255.8);
} 
.sidebar .nav:not(.sub-menu) > .nav-item.active > .nav-link .menu-title{
	font-weight:500;
} 

.sidebar .nav.sub-menu .nav-item ul li{
	display:block;
	padding:.5em 1em;
}

.sidebar .nav.sub-menu .nav-item.active>ul.last-menu li{
	display:block;
}

.sidebar .nav.sub-menu .nav-item li a{
	color:rgba(255,255,255,.65);
}
.sidebar .nav.sub-menu .nav-item.active li.active a, .sidebar .nav.sub-menu .nav-item.active .nav-link{
	font-weight:bold!important;
	color:#fff!important;	
}

.sidebar .nav .nav-item .nav-link .menu-title{
	font-weight:300;
}

.sidebar .nav .nav-item.active > .nav-link i, .sidebar .nav .nav-item.active > .nav-link .menu-title, .sidebar .nav .nav-item.active > .nav-link .menu-arrow{
	color:#3c4b64;
}


/*save buttons*/
.save-buttons{
	padding:1em 0;
	font-size:1.75rem;
}

.save-buttons, .save-buttons .btn{
	transition:.3s ease;
	-moz-transition:.3s ease;
	-o-transition:.3s ease;
	-webkit-transition:.3s ease;
}

.save-buttons.stick{
	position:fixed;
	bottom:0;
	z-index:200;
	bottom:0;
	padding:0;
	left:257px;
	width:calc(100% - 257px);
}
.save-buttons.stick .btn{
	width:50%;
	border-radius:0;
	margin:0;
	float:left;
	font-size:1rem;
}

.sidebar-icon-only .save-buttons.stick{
	left:70px;
	width:calc(100% - 70px);
}

@media (max-width:991px){
	.save-buttons.stick{
		left:0;
		width:100%;
	}
}